* {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

body {
    background-color: black !important;
    color: white !important;
    font-size: 25px;
    width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

nav.navbar {
    width: 100vw;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: 100px;
}

.custom-nav {
    background-color: #0a0a0a !important;
    padding: 10px 0 !important;
    border-bottom: 1px solid #222;
}

.navbar-nav .nav-link {
    margin-top: 70px;
    font-size: 24px;
    color: #cfcfcf !important;
    font-weight: 500;
    transition: color 0.25s ease, transform 0.2s ease;
}

.navbar-nav .nav-link:hover {
    color: white !important;
    transform: scale(1.08);
}

.navbar-nav {
    gap: 30px;
}

img {
    display: block;
    margin: 20px auto;
    height: 400px;
    width: 300px;
}

footer {
    text-align: center;
    width: 100%;
    color: white;
    background-color: black;
    padding: 10px 0;
}